{% load static %}
<!DOCTYPE html>
<html>
<head>
	
	<title>CornerShop Test</title>


           <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>


    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <h1><a href="{% url 'menu' %}" class="navbar-brand">
            <strong>CornerShop</strong></a></h1>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse justify-content-end " id="navbar">
                {% if not request.user.is_active %}
                <a href="{% url 'menu' %}" class="btn btn-info mt-1 mx-1">Menú</a>
                <a href="{% url 'login' %}" class="btn btn-info mt-1"><i class="fa fa-sign-in" aria-hidden="true"></i> Log In</a>
                {% else %}
                <h6 class="text-white mt-2 mr-2">Bienvenido, {{ request.user.username }} | 
                {% if request.user.chef %}
                    Chef
                {% else %}
                    Empleado
                {% endif %}
                </h6>

                <h6 class="text-white mt-2 mr-2"><a href="{% url 'menu' %}" class="text-white">Menú</a> |</h6>
                <h6 class="mt-2"><a href="{% url 'crear_menu' %}" class="text-white">Crear Menu</a></h6>
                <a href="{% url 'logout' %}" class="btn btn-danger mt-1 mx-1">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>

    </nav>


<div class="container">
    <br><br>
    {% block contenido %}

    {% endblock %}

</div>

</body>
</html>