{% extends 'base.html' %}

{% load crispy_forms_tags  crispy_forms_filters %}

{% block contenido %}

<nav arial-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">
			<a href="{% url 'menu' %}">
				Lista de Menú
			</a>
		</li>
	</ol>
</nav>

<form method="POST">
	{% csrf_token %}

	{{form.as_p}}


	<div class="card mb-3{% if formset.errors %} border-danger {% endif %}">
		<div class="card-header">
			<div class="row">
				<div class="col-8">
					<strong>Item</strong>
				</div>
		
				<div class="col-2">
					<strong>Eliminar</strong>
				</div>
			</div>
		</div>
		{% for error in formset.non_form_errors %}
		<div class="card-body bg-danger border-danger text-white py-2">
			{{error}}
		</div>
		{% endfor %}

		<div class="list-group list-group-flush list-group-formset">
			{{ formset.management_form }}
			{% for form in formset %}
			<div class="list-group-item">
				<div class="row">
					<div class="col-8">
						{% for ocultar in form.hidden_fields %}
							{{ocultar}}
						{% endfor %}
						{{form.item|as_crispy_field}}
						{% if form.instance.pk and form.item.value != form.instance.item %}
						<p class="mb-0 mt-1">
							<small class="text-muted fon-italic">
								<strong>
									Resputa Antigua:
								</strong> {{form.instance.item}}
							</small>
						</p>
						{% endif %}
					</div>
				
					<div class="col-2">
						{% if form.instance.pk %}
							{{form.DELETE}}
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<p>
		<small class="form.text text-muted">
			Debes agregar al menos <strong>2</strong> opciones y
			un maximo de <strong>10</strong> opciones.
		</small>
	</p>

	<button type="submit" class="btn btn-success">
		Guardar Cambios
	</button>

</form>


{% endblock %}